// $logocolor: linear-gradient(185.89deg, #b85d70 0.55%, #ec9d4f 100%);
$grdient: linear-gradient(
  91.52deg,
  #4cc9f0 -9.54%,
  #0000c8 35.19%,
  #7209b7 107.13%
);

$primary: #223b90;
$textprimary: #212427;

// Spacing
$spacing-unit: 0.4rem;
$padding: $spacing-unit * 3 $spacing-unit * 6;
